@media screen and (max-width: 992px){
	
}
@media screen and (max-width: 768px){
	
}

@media screen and (max-width: 576px){
	.feature-img img{
		max-width: 80%;
		margin: 10px auto;
		display: block;
	}
	.feature-left-content{
		text-align: center;
	}
	.feature-left-content span{
		text-align: center;
	}
	.feature-right-content{
		text-align: center!important;
	}

}